.second-page {
    width: 100%;
    // margin:  10rem  0  0  0;
    padding: 5%;
    flex-wrap: wrap;

    .sp-container {
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: space-around;

        .sp-left {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 0 1rem;
            justify-content: center;

            h1 {
                font-size: 4rem;
                margin-left: 1REM;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.5rem;
                padding: 0 1rem;
                line-height: 2.5rem;
            }
        }

        .sp-right {
            width: 60%;
            display: flex;
            // align-items: center;
            position: relative;
            margin-left: 5rem;
            margin-top: 5rem;

            .first-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid #111;
                padding: 1rem;
                height: 32rem;
              
                transition: transform 0.3s, z-index 0.3s;

                .first-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    ul {
                        display: flex;
                        gap: 3rem;
                        font-size: 1rem;

                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }

            .second-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid #111;
                background-color: #111;
                padding: 1rem;
                height: 32rem;
                position: absolute;
                transition: transform 0.3s, z-index 0.3s;
                left: 20rem;
                top: 3.5rem;
   
                
                z-index: 2;

                .second-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: white;
                    ul {
                        display: flex;
                        gap: 3rem;
                        font-size: 1rem;
                        color: white;
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
            svg {
                color: #111 !important;
                transition: transform 0.3s ease;
                transform-origin: center;
                position: absolute;
                bottom: 25rem;
                right: 61rem;
            }    
             .curved-txt:hover{
                transform: rotate(360deg);
             }

             svg{
                svg:hover{
                    transform: scale(1.2);
                }
             }  
        }
    }
}

@media(max-width:1300px) {
    .second-page .sp-container {
        flex-direction: column;
        align-items: center;
        .sp-left {
            width: 75%;
            align-items: center;
        }
        .sp-right {
            .first-card {
                top: 0rem;
            }
        }
    }
}

@media(max-width:1100px){
    .second-page{
        .sp-container{
           .sp-right{
            margin-left: -10rem;
           }
        }
    }
}

@media(max-width:900px) {
    .second-page {
        .sp-container {
           
            .sp-right {
                position: static;
                display: flex;
                
                gap: 1rem;
                margin-right: 5rem;
                flex-direction: row !important;
                align-items: stretch !important;
                justify-content: start !important;

                svg {
                    display: none;
                }
                .first-card {
                    // position: static;
                    top: 0rem;
                    left: 0rem;
                }
                .second-card {
                    position: static;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

@media(max-width:780px) {
    .second-page {
        .sp-container {
            margin-left: 4rem;
            .sp-right {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                // justify-content: space-around;
                margin-left: 5rem;  
            }

        }
    }
}

@media(max-width:500px) {
    .second-page {
        .sp-container {
            .sp-left{
                // margin-left: 2rem;
            }
            .sp-right {
              margin-right: 12rem;
            }

        }
    }
}

@media(max-width:400px) {
    .second-page {
        .sp-container {
            .sp-left{
                // margin-left: 2rem;
            }
            .sp-right {
              margin-right: 14rem;
            }

        }
    }
}